@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

* {
  font-family: 'Cairo', sans-serif;
}

:root {
  --font-size: 15px;
}

/* Smooth scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
